---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import GamePreview from "../components/GamePreview.astro";

import NightTimeSurvival from "../images/NightTimeSurvival.png";

const pageTitle = "Alex Tsvetanov";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Hi, Welcome to my blog</h1>
	<div class="indexpreview">
		<h2>My latest project:</h2>
		<GamePreview
			src={NightTimeSurvival}
			alt="Night Time Survival icon"
			title="Night Time Survival"
			link="/blog/"
		/>
		<h2>10% Finished</h2>
	</div>
</BaseLayout>

<style>
	.indexpreview {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
	}

	h1 {
		text-align: center;
		margin: 1rem 0;
	}
</style>
