---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<h1>{frontmatter.title}</h1>
	<slot />
</BaseLayout>

<style>
	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
</style>
